// RewriteEngine On
// RewriteCond %{REQUEST_FILENAME} !-f
// RewriteRule ^([^\.]+)$ $1.html [NC,L]



RewriteEngine On
RewriteCond %{HTTP_HOST} ^b2b\.rsexclusivetr\.com$ [NC]
RewriteRule ^ http://78.186.42.2/b2b%{REQUEST_URI} [L,NE,P]
